{% extends 'base.html' %}{% load staticfiles %}{% load crispy_forms_tags %}

{% block title %}Inicio{% endblock %}

{% block menu %}
    {% include 'menu.html' with active_item_menu='main' %}
{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">Home</a></li>
    <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">Profile</a></li>
    <li class="disabled"><a>Disabled</a></li>
</ul>
{% endblock %}
