#main-container {
    margin-top: 3.5rem;
}

.asteriskField {
    display: none;
}

.col-form-label {
    font-weight: 500;
}

.table > thead > tr {
    font-size: 0.9rem;
    vertical-align: middle;
}

.table > tbody > tr {
    font-size: 0.8rem;
    vertical-align: middle;
}

.table > tbody > tr > td {
    vertical-align: middle;
}