#main-container {
    margin-top: 3.5rem;
}

.asteriskField {
    display: none;
}

.col-form-label {
    font-weight: 500;
}

.table > thead > tr {
    font-size: 0.9rem;
    vertical-align: middle;
}

.table > tbody > tr {
    font-size: 0.8rem;
    vertical-align: middle;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.btn-group-xs > .btn, .btn-xs {
    padding  : .2rem .2rem;
    font-size  : .8rem;
    line-height  : .5;
    border-radius : .2rem;
    width: 1.5rem;
}