{% extends 'base.html' %}{% load staticfiles %}{% load crispy_forms_tags %}{% load django_bootstrap_breadcrumbs %}

{% block title %}Proveedores{% endblock %}

{% block menu %}
    {% include 'menu.html' with active_item_menu='proveedor' %}
{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb 'Inicio' 'app_main' %}
    {% breadcrumb 'Proveedores' 'app_proveedor' %}
    {% breadcrumb 'Crear' 'app_proveedor_create' %}
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
{% endblock %}

{% block content %}
<div class="card border-dark mx-auto" style="max-width: 40rem;">
        <div class="card-body">
            <h5><i class="fas fa-edit"></i> Nuevo proveedor</h5>
            <hr />
            <form method="post">{% csrf_token %}
                <fieldset>
                    {{ form|crispy }}
                </fieldset>
                <a href="{% url 'app_proveedor' %}" class="btn btn-danger"><span class="fa fa-undo-alt"></span> Cancelar</a>
                <button type="submit" class="btn btn-primary float-right"><i class="far fa-save"></i> Guardar cambios</button>
            </form>
      </div>
</div>
{% endblock %}

{% block modals %}
{% endblock %}

{% block js %}
{% endblock %}