{% extends 'base.html' %}{% load staticfiles %}{% load django_bootstrap_breadcrumbs %}

{% block title %}Proveedores{% endblock %}

{% block menu %}
    {% include 'menu.html' with active_item_menu='proveedor' %}
{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb 'Inicio' 'app_main' %}
    {% breadcrumb 'Proveedores' 'app_proveedor' %}
    {% breadcrumb 'Detalle' 'app_proveedor_detail' %}
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
{% endblock %}

{% block content %}
<div class="card border-dark mx-auto" style="max-width: 40rem;">
        <div class="card-body">
            <h5><i class="fas fa-file"></i> Detalle proveedor</h5>
            <hr />
            <a href="{% url 'app_proveedor' %}" class="btn btn-danger"><span class="fa fa-undo-alt"></span> Volver</a>
            <ul>
                <li>{{ object.id }}</li>
                <li>{{ object.nombre }}</li>
                <li>{{ object.proveedor }}</li>
                <li>{{ object.categoria_servicio.nombre }}</li>
                <li>{{ object.localidad.nombre }}</li>
                <li>{{ object.modalidad_pago.nombre }}</li>
                <li>{{ object.direccion }}</li>
                <li>{{ object.fijo }}</li>
                <li>{{ object.movil }}</li>
                <li>{{ object.email }}</li>
                <li>{{ object.web }}</li>
                <li>{{ object.creado }}</li>
                <li>{{ object.modificado }}</li>
            </ul>
      </div>
</div>
{% endblock %}

{% block modals %}
{% endblock %}

{% block js %}
{% endblock %}