{% extends 'base.html' %}{% load staticfiles %}{% load django_bootstrap_breadcrumbs %}

{% block title %}Proveedores{% endblock %}

{% block menu %}
    {% include 'menu.html' with active_item_menu='proveedor' %}
{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb 'Inicio' 'app_main' %}
    {% breadcrumb 'Proveedores' 'app_proveedor' %}
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
{% endblock %}

{% block content %}
    <a href="{% url 'app_proveedor_create' %}" class="btn btn-success"><span class="fa fa-file"></span> Nuevo proveedor</a>
    <table id="grid-data" class="table table-striped table-hover table-condensed table-sm">
        <thead>
            <tr>

                <th data-column-id="id">ID</th>
                <th data-column-id="nombre">Nombre</th>
                <th data-column-id="ruc">Ruc</th>
                <th data-column-id="categoria">Categoria</th>
                <th data-column-id="localidad">Localidad</th>
                <th data-column-id="modalidad">Modalidad</th>

            </tr>
        </thead>
        <tbody>
            {% for marca_comercial in object_list %}
                <tr>
                    <td>{{ marca_comercial.id }}</td>
                    <td>{{ marca_comercial.nombre }}</td>
                    <td>{{ marca_comercial.proveedor.id }}</td>
                    <td>{{ marca_comercial.categoria_servicio.nombre }}</td>
                    <td>{{ marca_comercial.localidad.nombre }}</td>
                    <td>{{ marca_comercial.modalidad_pago.nombre }}</td>

                </tr>
            {% empty %}
                <tr>No hay marcas comerciales aún.</tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block modals %}
<div class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $("#grid-data").bootgrid();
} );
</script>
{% endblock %}