{% extends 'base.html' %}{% load staticfiles %}{% load django_bootstrap_breadcrumbs %}

{% block title %}Proveedores{% endblock %}

{% block menu %}
    {% include 'menu.html' with active_item_menu='proveedor' %}
{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb 'Inicio' 'app_main' %}
    {% breadcrumb 'Proveedores' 'app_proveedor' %}
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
{% endblock %}

{% block content %}
    <a href="{% url 'app_proveedor_create' %}" class="btn btn-success"><span class="fa fa-file"></span> Nuevo proveedor</a>
    <table id="tablita" class="table table-striped table-hover table-sm display">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Ruc</th>
                <th>Categoria</th>
                <th>Localidad</th>
                <th>Modalidad</th>
                <th style="width: 80px; text-align: center;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for marca_comercial in object_list %}
                <tr>
                    <td>{{ marca_comercial.id }}</td>
                    <td>{{ marca_comercial.nombre }}</td>
                    <td>{{ marca_comercial.proveedor.id }}</td>
                    <td>{{ marca_comercial.categoria_servicio.nombre }}</td>
                    <td>{{ marca_comercial.localidad.nombre }}</td>
                    <td>{{ marca_comercial.modalidad_pago.nombre }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="{% url 'app_proveedor_detail' marca_comercial.id %}" class="btn btn-secondary btn-sm btn-sm" role="button"><i class="fas fa-info-circle"></i></a>
                            <a href="{% url 'app_proveedor_update' marca_comercial.id %}" class="btn btn-secondary btn-sm btn-sm" role="button"><i class="fas fa-edit"></i></a>
                            <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>No hay marcas comerciales aún.</tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block modals %}
<div class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    var table = $('#tablita').DataTable( {
        "iDisplayLength": 100,
        "info": false,
        "bLengthChange": false,
        "language": {
            "url": "/static/json/dtspanish.json"
        },
    } );
} );
</script>
{% endblock %}