{% extends 'base.html' %}{% load staticfiles %}

{% block title %}Proveedores{% endblock %}

{% block menu %}
    {% include 'menu.html' with active_item_menu='proveedor' %}
{% endblock %}

{% block content %}
<table id="grid-data" class="table table-hover table-striped table-condensed table-sm">
    <thead>
        <tr>
            <th data-column-id="id" data-identifier="true" data-width="40px">ID</th>
            <th data-column-id="proveedor" data-width="90px">RUC</th>
            <th data-column-id="proveedor__razon_social" data-visible="false">Razon social</th>
            <th data-column-id="nombre">Nombre comercial</th>
            <th data-column-id="categoria_servicio__nombre" data-width="100px">Categoría</th>
            <th data-column-id="modalidad_pago__nombre" data-width="80px">Modalidad</th>
            <th data-column-id="localidad__nombre" data-width="150px">Localidad</th>
            <th data-column-id="direccion">Dirección</th>
            <th data-column-id="telefono_fijo" data-width="80px">Fijo</th>
            <th data-column-id="telefono_movil" data-width="90px">Movil</th>
            <th data-column-id="email" data-visible="false" data-formatter="email" data-sortable="false">Email</th>
            <th data-column-id="sitio_web" data-visible="false" data-formatter="link" data-sortable="false">Web</th>
            <th data-column-id="creado" data-visible="false" data-width="150px" data-converter="datetime">Creado</th>
            <th data-column-id="modificado" data-width="150px" data-converter="datetime">Modificado</th>
            <th data-column-id="acciones" data-width="90px" data-formatter="acciones" data-sortable="false">Acciones</th>
        </tr>
    </thead>
</table> 
{% endblock %}

{% block modals %}
<div id="dMarcaComercial" class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="max-width: 700px;" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="fMarcaComercial" autocomplete="off">
                    <input type="hidden" id="marca_comercial_id" name="marca_comercial_id">
                    <fieldset>
                        <legend>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h5 id="tMarcaComercial" class="modal-title">TITULO</h5>
                        </legend>
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm" for="proveedor">Proveedor</label>
                            <select class="form-control form-control-sm" data-live-search="true" id="proveedor" name="proveedor"></select>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm" for="nombre">Nombre comercial</label>
                            <input class="form-control form-control-sm" id="nombre" name="nombre" type="text">
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label class="col-form-label col-form-label-sm" for="categoria_servicio">Categoría</label>
                                <select class="form-control form-control-sm" id="categoria_servicio" name="categoria_servicio"></select>
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col">
                                <label class="col-form-label col-form-label-sm" for="modalidad_pago">Modalidad</label>
                                <select class="form-control form-control-sm" id="modalidad_pago" name="modalidad_pago"></select>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label class="col-form-label col-form-label-sm" for="localidad">Localidad</label>
                                <select class="form-control form-control-sm" id="localidad" name="localidad"></select>
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col">
                                <label class="col-form-label col-form-label-sm" for="direccion">Dirección</label>
                                <input class="form-control form-control-sm" id="direccion" name="direccion" type="text">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label class="col-form-label col-form-label-sm" for="telefono_fijo">Teléfono fijo</label>
                                <input class="form-control form-control-sm" id="telefono_fijo" name="telefono_fijo" type="text">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col">
                                <label class="col-form-label col-form-label-sm" for="telefono_movil">Telefono móvil</label>
                                <input class="form-control form-control-sm" id="telefono_movil" name="telefono_movil" type="text">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label class="col-form-label col-form-label-sm" for="email">Email</label>
                                <input class="form-control form-control-sm" id="email" name="email" type="text">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="col">
                                <label class="col-form-label col-form-label-sm" for="sitio_web">Web</label>
                                <input class="form-control form-control-sm" id="sitio_web" name="sitio_web" type="text">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm" for="observaciones">Observaciones</label>
                            <textarea class="form-control form-control-sm" id="observaciones" name="observaciones" rows="3"></textarea>
                            <div class="invalid-feedback"></div>
                        </div>
                        <button class="btn btn-secondary float-left" data-dismiss="modal"><i class="far fa-times-circle"></i> Cancelar</button>
                        <button id="cmdEnviarFormulario" class="btn btn-primary float-right"><i class="far fa-save"></i> Guardar</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="dMarcaComercialDelete" class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="max-width: 500px;" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="fMarcaComercialDelete" autocomplete="off">
                    <input type="hidden" id="fMarcaComercialDelete_marca_comercial_id" name="marca_comercial_id">
                    <fieldset>
                        <legend>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h5 id="tMarcaComercialDelete" class="modal-title"><i class="far fa-trash-alt"></i> Eliminar marca comercial</h5>
                        </legend>
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm">¿Está seguro(a) que desea eliminar esta marca comercial?</label>
                        </div>
                        <button class="btn btn-secondary float-left" data-dismiss="modal"><i class="far fa-times-circle"></i> Cancelar</button>
                        <button id="fMarcaComercialDelete_submit" class="btn btn-danger float-right"><i class="far fa-trash-alt"></i> Eliminar</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="dProveedor" class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="max-width: 500px;" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="fProveedor" autocomplete="off">
                    <fieldset>
                        <legend>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h5 id="tProveedor" class="modal-title">TITULO</h5>
                        </legend>
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm" for="fProveedor_tipo_documento">Tipo de documento</label>
                            <select class="form-control form-control-sm" id="fProveedor_tipo_documento" name="tipo_documento"></select>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm" for="fProveedor_id">Número de documento</label>
                            <input class="form-control form-control-sm" id="fProveedor_id" name="id" type="text">
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm" for="fProveedor_razon_social">Razón social</label>
                            <input class="form-control form-control-sm" id="fProveedor_razon_social" name="razon_social" type="text">
                            <div class="invalid-feedback"></div>
                        </div>
                        <button class="btn btn-secondary float-left" data-dismiss="modal"><i class="far fa-times-circle"></i> Cancelar</button>
                        <button id="fProveedor_submit" class="btn btn-primary float-right"><i class="far fa-save"></i> Guardar</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="dMarcaComercialCuenta" class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="max-width: 1050px;" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <legend>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 id="tProveedor" class="modal-title"><i class="fas fa-piggy-bank"></i> Cuentas de marca comercial</h5>
                </legend>
                <table id="grid-data-cuentas" class="table table-hover table-striped table-condensed table-sm">
                    <thead>
                        <tr>
                            <th data-column-id="id" data-identifier="true" data-width="40px">ID</th>
                            <th data-column-id="banco__nombre">Banco</th>
                            <th data-column-id="moneda" data-width="40px">Moneda</th>
                            <th data-column-id="tipo_cuenta" data-width="40px">Tipo</th>
                            <th data-column-id="cta" data-width="160px">Cuenta</th>
                            <th data-column-id="titular">Titular</th>
                            <th data-column-id="cci" data-visible="false">CCI</th>
                            <th data-column-id="creado" data-visible="false" data-width="150px" data-converter="datetime">Creado</th>
                            <th data-column-id="modificado" data-width="150px" data-converter="datetime">Modificado</th>
                            <th data-column-id="acciones" data-width="65px" data-formatter="acciones" data-sortable="false">Acciones</th>
                        </tr>
                    </thead>
                </table> 
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ajaxStop($.unblockUI);

$.ajaxSetup({
    cache: false,
    contentType: 'application/json',
    beforeSend: function(xhr, settings) {
        if (!$.fn.csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", $.fn.getCookie('csrftoken'));
        }
    }
});

function fMarcaComercialReset(){
    $('#fMarcaComercial')[0].reset();
    $('#fMarcaComercial').resetValidation();
    
    $.ajaxQueue({
        type: "GET",
        url: "/api/v1/proveedor/?page_size=100",
        success: function(data){
            $('#proveedor').empty();
            $('#proveedor').append('<option value="">---</option>');
            $.each(data.results, function (key, value) {
                $('#proveedor').append('<option value=' + value.id + '>' + value.razon_social + ' (' +  value.id + ') </option>');
            });
        }
    });

    $.ajaxQueue({
        type: "GET",
        url: "/api/v1/categoria_servicio/?page_size=100",
        success: function(data){
            $('#categoria_servicio').empty();
            $('#categoria_servicio').append('<option value="">---</option>');
            $.each(data.results, function (key, value) {
                $('#categoria_servicio').append('<option value=' + value.id + '>' + value.nombre + '</option>');
            });
        }
    });

    $.ajaxQueue({
        type: "GET",
        url: "/api/v1/modalidad_pago/?page_size=100",
        success: function(data){
            $('#modalidad_pago').empty();
            $('#modalidad_pago').append('<option value="">---</option>');
            $.each(data.results, function (key, value) {
                $('#modalidad_pago').append('<option value=' + value.id + '>' + value.nombre + '</option>');
            });
        }
    });

    $.ajaxQueue({
        type: "GET",
        url: "/api/v1/localidad/?page_size=100",
        success: function(data){
            $('#localidad').empty();
            $('#localidad').append('<option value="">---</option>');
            $.each(data.results, function (key, value) {
                $('#localidad').append('<option value=' + value.id + '>' + value.nombre + '</option>');
            });
        }
    });
}

function fMarcaComercialLoadData(id) {
    $.ajaxQueue({
        type: "GET",
        url: "/api/v1/marca_comercial/" + id + "/",
        success: function(data){
            $('#marca_comercial_id').val(data.id);
            $('#proveedor').val(data.proveedor);
            $('#nombre').val(data.nombre);
            $('#categoria_servicio').val(data.categoria_servicio);
            $('#modalidad_pago').val(data.modalidad_pago);
            $('#localidad').val(data.localidad);
            $('#direccion').val(data.direccion);
            $('#telefono_fijo').val(data.telefono_fijo);
            $('#telefono_movil').val(data.telefono_movil);
            $('#email').val(data.email);
            $('#sitio_web').val(data.sitio_web);
            $('#observaciones').val(data.observaciones);
        }
    });
}

function fMarcaComercialShow(id) {
    fMarcaComercialReset();
    
    if ( id!=0 ) {
        fMarcaComercialLoadData(id);
        $('#tMarcaComercial').html('<i class="far fa-edit"></i> Modificar marca comercial');
    } else {
        $('#marca_comercial_id').val(0);
        $('#tMarcaComercial').html('<i class="far fa-file"></i> Nueva marca comercial');
    }
    
    $('#dMarcaComercial').modal('show');
    $('#proveedor').focus();
}

function fMarcaComercialDelete(id) {
    $('#fMarcaComercialDelete_marca_comercial_id').val(id);
    $('#dMarcaComercialDelete').modal('show');
}

/*proveedor*/
function fProveedorShow(id) {
    fProveedorReset();
    
    if ( id!=0 ) {
        fMarcaComercialLoadData(id);
        $('#tProveedor').html('<i class="far fa-edit"></i> Modificar proveedor');
    } else {
        $('#fProveedor_proveedor_id').val(0);
        $('#tProveedor').html('<i class="far fa-file"></i> Nuevo proveedor');
    }
    
    $('#dProveedor').modal('show');
    $('#fProveedor_tipo_documento').focus();
}

function fProveedorReset(){
    $('#fProveedor')[0].reset();
    $('#fProveedor').resetValidation();
    
    $.ajax({
        type: "GET",
        url: "/api/v1/tipo_doc_proveedor/?page_size=100",
        success: function(data){
            $('#fProveedor_tipo_documento').empty();
            $('#fProveedor_tipo_documento').append('<option value="">---</option>');
            $.each(data.results, function (key, value) {
                $('#fProveedor_tipo_documento').append('<option value=' + value.id + '>' + value.nombre + ' (' +  value.id + ') </option>');
            });
        }
    });
}

/*marca comercial cuentas*/
function gridMarcaComercialShow(marca_comercial_id) {
    var gridCuentas = $("#grid-data-cuentas").bootgrid({
        url: "/api/v1/marca_comercial_cuenta/?marca_comercial=" + marca_comercial_id + "&page_size=100",
        searchSettings: {
            fulltext: false,
        },
        formatters: {
            "acciones": function(column, row) {
                //return "<button type=\"button\" class=\"btn btn-xs btn-outline-success command-detail\" data-row-id=\"" + row.id + "\"><i class=\"fas fa-info-circle\"></i></button> " +
                return "<button type=\"button\" class=\"btn btn-xs btn-outline-warning command-edit\" data-row-id=\"" + row.id + "\"><i class=\"far fa-edit\"></i></button> " +
                "<button type=\"button\" class=\"btn btn-xs btn-outline-danger command-delete\" data-row-id=\"" + row.id + "\"><i class=\"far fa-trash-alt\"></i></button>";
            }
        },
        converters: {
            datetime: {
                from: function (value) { return moment(value); },
                to: function (value) { return moment(value).format("DD/MMM/YYYY hh:mm A"); }
            },
        }
    });

    $('#dMarcaComercialCuenta').modal('show');
}

/*events*/
$(document).ready(function() {
    $("#fMarcaComercial").bind("keypress", function (e) {
        if (e.keyCode == 13) {
            return false;
        }
    });

    var grid = $("#grid-data").bootgrid({
        url: "/api/v1/marca_comercial/",
        searchSettings: {
            fulltext: false,
        },
        formatters: {
            "email": function(column, row) {
                if (row.email != "")
                    return "<a href=\"mailto:" + row.email + "\"><i class=\"far fa-envelope\"></i> " + row.email + "</a>";
            },
            "link": function(column, row) {
                if (row.sitio_web != "")
                    return "<a target=\"_blank\" href=\"" + row.sitio_web + "\"><i class=\"fas fa-external-link-alt\"></i> " + row.sitio_web + "</a>";
            },
            "acciones": function(column, row) {
                //return "<button type=\"button\" class=\"btn btn-xs btn-outline-success command-detail\" data-row-id=\"" + row.id + "\"><i class=\"fas fa-info-circle\"></i></button> " +
                return "<button type=\"button\" class=\"btn btn-xs btn-outline-primary command-bank\" data-row-id=\"" + row.id + "\"><i class=\"fas fa-piggy-bank\"></i></button> " +
                "<button type=\"button\" class=\"btn btn-xs btn-outline-warning command-edit\" data-row-id=\"" + row.id + "\"><i class=\"far fa-edit\"></i></button> " +
                "<button type=\"button\" class=\"btn btn-xs btn-outline-danger command-delete\" data-row-id=\"" + row.id + "\"><i class=\"far fa-trash-alt\"></i></button>";
            }
        },
        converters: {
            datetime: {
                from: function (value) { return moment(value); },
                to: function (value) { return moment(value).format("DD/MMM/YYYY hh:mm A"); }
            },
        }
    }).on("loaded.rs.jquery.bootgrid", function() {
        grid.find(".command-detail").on("click", function(e){
            //alert("aa");
        }).end().find(".command-bank").on("click", function(e) {
            gridMarcaComercialShow( $(this).data("row-id") );
        }).end().find(".command-edit").on("click", function(e) {
            $.blockUI({ message: $('#dWaitMessage'), });
            fMarcaComercialShow( $(this).data("row-id") );
        }).end().find(".command-delete").on("click", function(e) {
            fMarcaComercialDelete( $(this).data("row-id") );
        });
    });

    $("#grid-toolbar").append('<button id="cmdNuevoProveedor" class="btn btn-primary" type="button"><i class="far fa-file"></i> Nuevo proveedor</button> ');
    $("#grid-toolbar").append('<button id="cmdNuevaMarcaComercial" class="btn btn-primary" type="button"><i class="far fa-file"></i> Nueva marca comercial</button> ');

    $('#cmdNuevoProveedor').on('click', function(event) {
        $.blockUI({ message: $('#dWaitMessage') });
        event.preventDefault();
        fProveedorShow(0);
    });

    $('#cmdNuevaMarcaComercial').on('click', function(event) {
        $.blockUI({ message: $('#dWaitMessage') });
        event.preventDefault();
        fMarcaComercialShow(0);
    });

    $('#cmdEnviarFormulario').on('click', function(event) {
        $.blockUI({ message: $('#dWaitMessage'), });
        event.preventDefault();
        $('#fMarcaComercial').resetValidation();

        if ($('#marca_comercial_id').val() == "0") {
            $.ajax({
                type: "POST",
                data: $('#fMarcaComercial').getJSONdata(),
                url: "/api/v1/marca_comercial/",
                success: function(data){ $("#grid-data").bootgrid("reload"); $('#dMarcaComercial').modal('hide'); },
                error: function (jqXHR) { $('#fMarcaComercial').validateFromJSON(jqXHR.responseJSON); },
            });
        } else {
            $.ajax({
                type: "PUT",
                data: $('#fMarcaComercial').getJSONdata(),
                url: "/api/v1/marca_comercial/" + $('#marca_comercial_id').val() + "/",
                success: function(data){ $("#grid-data").bootgrid("reload"); $('#dMarcaComercial').modal('hide'); },
                error: function (jqXHR) { $('#fMarcaComercial').validateFromJSON(jqXHR.responseJSON); },
            });
        }
    });

    $('#fProveedor_submit').on('click', function(event) {
        $.blockUI({ message: $('#dWaitMessage'), });
        event.preventDefault();
        $('#fProveedor').resetValidation();

        $.ajax({
            type: "POST",
            data: $('#fProveedor').getJSONdata(),
            url: "/api/v1/proveedor/",
            success: function(data){ $("#grid-data").bootgrid("reload"); $('#dlgProveedor').modal('hide'); },
            error: function (jqXHR) { $('#fProveedor').validateFromJSON(jqXHR.responseJSON); },
        });
    });

    $('#fMarcaComercialDelete_submit').on('click', function(event) {
        $.blockUI({ message: $('#dWaitMessage'), });
        event.preventDefault();

        $.ajax({
            type: "DELETE",
            data: $('#fMarcaComercialDelete').getJSONdata(),
            url: "/api/v1/marca_comercial/" + $('#fMarcaComercialDelete_marca_comercial_id').val() + "/",
            success: function(data){ $("#grid-data").bootgrid("reload"); $('#dMarcaComercialDelete').modal('hide'); },
            error: function (jqXHR) { $('#fMarcaComercialDelete').validateFromJSON(jqXHR.responseJSON); },
        });
    });

});
</script>
{% endblock %}