{% extends 'base.html' %}{% load staticfiles %}

{% block title %}Proveedores{% endblock %}

{% block menu %}
    {% include 'menu.html' with active_item_menu='proveedor' %}
{% endblock %}

{% block content %}
<table id="tablita" class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Ruc</th>
                <th>Categoria</th>
                <th>Localidad</th>
                <th>Modalidad</th>
                <th>Direccion</th>
                <th>Fijo</th>
                <th>Movil</th>
                <th>Email</th>
                <th>Web</th>
                <th>Creado</th>
                <th>Modificado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>prueb</td>
                <td>fdsf</td>
                <td>fdsfds</td>
                <td>1</td>
                <td>prueb</td>
                <td>fdsf</td>
                <td>fdsfds</td>
                <td>fdsfds</td>
                <td>1</td>
                <td>prueb</td>
                <td>fdsf</td>
                <td>fdsfds</td>
            </tr>
            <tr>
                <td>1</td>
                <td>prueb</td>
                <td>fdsf</td>
                <td>fdsfds</td>
                <td>1</td>
                <td>prueb</td>
                <td>fdsf</td>
                <td>fdsfds</td>
                <td>fdsfds</td>
                <td>1</td>
                <td>prueb</td>
                <td>fdsf</td>
                <td>fdsfds</td>
            </tr>
            <tr>
                    <td>1</td>
                    <td>prueb</td>
                    <td>fdsf</td>
                    <td>fdsfds</td>
                    <td>1</td>
                    <td>prueb</td>
                    <td>fdsf</td>
                    <td>fdsfds</td>
                    <td>fdsfds</td>
                    <td>1</td>
                    <td>prueb</td>
                    <td>fdsf</td>
                    <td>fdsfds</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>prueb</td>
                    <td>fdsf</td>
                    <td>fdsfds</td>
                    <td>1</td>
                    <td>prueb</td>
                    <td>fdsf</td>
                    <td>fdsfds</td>
                    <td>fdsfds</td>
                    <td>1</td>
                    <td>prueb</td>
                    <td>fdsf</td>
                    <td>fdsfds</td>
                </tr>
                <tr>
                        <td>1</td>
                        <td>prueb</td>
                        <td>fdsf</td>
                        <td>fdsfds</td>
                        <td>1</td>
                        <td>prueb</td>
                        <td>fdsf</td>
                        <td>fdsfds</td>
                        <td>fdsfds</td>
                        <td>1</td>
                        <td>prueb</td>
                        <td>fdsf</td>
                        <td>fdsfds</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>prueb</td>
                        <td>fdsf</td>
                        <td>fdsfds</td>
                        <td>1</td>
                        <td>prueb</td>
                        <td>fdsf</td>
                        <td>fdsfds</td>
                        <td>fdsfds</td>
                        <td>1</td>
                        <td>prueb</td>
                        <td>fdsf</td>
                        <td>fdsfds</td>
                    </tr>
                    <tr>
                            <td>1</td>
                            <td>prueb</td>
                            <td>fdsf</td>
                            <td>fdsfds</td>
                            <td>1</td>
                            <td>prueb</td>
                            <td>fdsf</td>
                            <td>fdsfds</td>
                            <td>fdsfds</td>
                            <td>1</td>
                            <td>prueb</td>
                            <td>fdsf</td>
                            <td>fdsfds</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>prueb</td>
                            <td>fdsf</td>
                            <td>fdsfds</td>
                            <td>1</td>
                            <td>prueb</td>
                            <td>fdsf</td>
                            <td>fdsfds</td>
                            <td>fdsfds</td>
                            <td>1</td>
                            <td>prueb</td>
                            <td>fdsf</td>
                            <td>fdsfds</td>
                        </tr>
        </tbody>
        </table>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $('#tablita').dataTable( {
        "language": {
            "url": "/static/json/dtspanish.json"
        },
    } );
} );
</script>
{% endblock %}