{% extends 'base.html' %}{% load staticfiles %}{% load crispy_forms_tags %}

{% block title %}Proveedores{% endblock %}

{% block menu %}
    {% include 'menu.html' with active_tab='app_mantenimiento' %}
{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">Proveedores</a></li>
</ul>

<table id="grid-data" class="table table-striped table-hover">
    <thead>
        <tr>
            <th data-column-id="id" data-width="60px">ID</th>
            <th data-column-id="razon_social">Razón social</th>
            <th data-column-id="tipo_documento">Tipo documento</th>
            <th data-column-id="nro_documento" data-width="100px">Nro documento</th>
            <th data-column-id="direccion">Dirección</th>
            <th data-column-id="_creado" data-converter="datetime">Creado</th>
            <th data-column-id="_modificado" data-converter="datetime">Modificado</th>
        </tr>
    </thead>
</table> 
{% endblock %}


{% block js %}
<script>
moment.locale('es');

$("#grid-data").bootgrid({
    url: "/api/proveedor/",
    searchSettings: {
        fulltext: true,
    },
    converters: {
        datetime: {
            from: function (value) { return moment(value); },
            to: function (value) { return moment(value).format("DD/MMM/YYYY hh:mm A"); }
        }
    }
});
</script>
{% endblock %}