{% load staticfiles %}{% load compress %}<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <title>OTM - {% block title %}{% endblock %}</title>

    {% compress css %}
        <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="/static/css/bootstrap-select.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="/static/css/base.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="/static/css/fontawesome-all.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="/static/css/jquery.bootgrid.css" type="text/css" charset="utf-8">
    {% endcompress %}
    {% compress css %}
        {% block css %}{% endblock %}
    {% endcompress %}
</head>
</head>
<body>
    <nav style="padding-top: 0.1rem; padding-bottom: 0.1rem;" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="{% url 'app_main' %}"><img src="{% static 'img/logo.brand.png' %}" class="img-fluid"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            {% block menu %}{% endblock %}
        </div>
    </nav>
    <div id="main-container" class="container-fluid">
        {% block content %}{% endblock %}
    </div>

    {% block footer %}{% endblock %}
    {% block modals %}{% endblock %}

    {% compress js %}
        <script src="/static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/base.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/bootstrap.bundle.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/jquery.blockUI.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/bootstrap-select.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/bootstrap-select-es_ES.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/moment.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/jquery.bootgrid.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/jquery.bootgrid.fa.js" type="text/javascript" charset="utf-8"></script>
        <script>
            moment.locale('es');
        </script>
    {% endcompress %}
    {% compress js %}
        {% block js %}{% endblock %}
    {% endcompress %}
</body>
</html>