{% extends 'base.html' %}{% load staticfiles %}{% load crispy_forms_tags %}

{% block title %}Iniciar sesión{% endblock %}

{% block menu %}
    {% include 'menu.html' with active_item_menu='guest' %}
{% endblock %}

{% block content %}
<div style="padding-top: 2rem;"></div>
<div class="card border-dark py-0 mx-auto" style="max-width: 25rem;">
        <div class="card-body">
            <h5><i class="fas fa-lock"></i> ¡Bienvenido!</h5>
            <hr />
            <form method="post" autocomplete="off">{% csrf_token %}
                <fieldset>
                    {{ form|crispy }}
                </fieldset>
                <button type="submit" class="btn btn-lg btn-success btn-block"><i class="fas fa-sign-in-alt"></i> Iniciar sesión</button>
            </form>
      </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}