{% extends 'base.html' %}{% load crispy_forms_tags %}

{% block title %}Cambiar contraseña{% endblock %}

{% block menu %}
    {% include 'menu.html' with active_item_menu='user' %}
{% endblock %}

{% block css %}
    <style type="text/css">
        .controls ul {
            font-size: xx-small;
        }
    </style>
{% endblock %}

{% block content %}
<div class="card border-dark py-0 mx-auto" style="max-width: 30rem;">
        <div class="card-body">
            <h5><i class="fa fa-exchange-alt"></i> Cambiar contraseña</h5>
            <hr />
            <form method="post" autocomplete="off">{% csrf_token %}
                <fieldset>
                    {{ form|crispy }}
                </fieldset>
                <a href="{% url 'app_main' %}" class="btn btn-danger"><span class="fa fa-undo-alt"></span> Cancelar</a>
                <button type="submit" class="btn btn-primary float-right"><span class="fa fa-exchange-alt"></span> Cambiar contraseña</button>
            </form>
      </div>
</div>
{% endblock %}