{% extends 'base.html' %}

{% block title %}Cambiar contraseña{% endblock %}

{% block menu %}
    {% include 'menu.html' with active_item_menu='user' %}
{% endblock %}

{% block sub_menu %}
    {% include 'app/user/sub_menu.html' with active_item_sub_menu='change_password' %}
{% endblock %}

{% block content %}
<div class="jumbotron py-3">
    <legend><i class="fas fa-lock"></i> ¡Su contraseña ha cambiado!</legend>
    <p>
        <h6>Volver al <a href="{% url 'app_main' %}"><i class="fas fa-home"></i> Inicio</a></h6>
    </p>
</div>
{% endblock %}
