{% extends 'base.html' %}

{% block title %}Cambiar contraseña{% endblock %}

{% block menu %}
    {% include 'menu.html' with active_tab='app_user' %}
{% endblock %}

{% block content %}
<div class="col-md-12 padding-auth-msg">
    <div class="well bs-component">
        <legend><span class="glyphicon glyphicon-lock"></span> ¡Su contraseña ha cambiado!</legend>
        <p>
            <h5>Volver al <a href="{% url 'app_main' %}"><span class="glyphicon glyphicon-home"></span> Inicio</a></h5>
        </p>
    </div>
</div>
{% endblock %}
