{% extends 'base.html' %}{% load crispy_forms_tags %}

{% block title %}Cambiar contraseña{% endblock %}

{% block menu %}
    {% include 'menu.html' with active_tab='app_user' %}
{% endblock %}

{% block content %}
<div style="padding-top: 40px;"></div>
<div class="login-panel panel panel-default padding-auth-form">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-key" aria-hidden="true"></i> Cambiar contraseña
        </h3>
    </div>
    <div class="panel-body">
        <form method="post">{% csrf_token %}
            <fieldset>
                {{ form|crispy }}
            </fieldset>
            <button type="submit" class="btn btn-success btn-block"><span class="fa fa-key"></span> Cambiar contraseña</button>
        </form>
    </div>
</div>
{% endblock %}